{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('style/css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'default/admin/write_post/picture.html.twig' %}

    <span class="border-yellow"></span>

    {% include 'default/admin/write_post/title.html.twig' %}

    <span class="border-pink"></span>

    {% include 'default/admin/write_post/content.html.twig' %}


{% endblock %}

{% block javascripts %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=dc1euft7h2vuqdoljsbeujwc4cbs7uwljex6myqc16fgzugb"></script>
    <script src="{{ asset('js/tinyMCE.js') }}"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
    <script src="{{ asset('js/scarf.js') }}"></script>
{% endblock %}