{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('style/css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}

    {% include 'default/carousel/carousel.html.twig' %}

{% endblock %}

{% block body %}
    <div style="background-color: rgba(255, 212, 85, 0.1);"><canvas id="scarf1"></canvas></div>

    {% include 'default/index/presentation.html.twig' %}

    <div style="background-color: rgba(255, 153, 204, 0.1);"><canvas id="scarf2"></canvas></div>

    {% include 'default/index/location.html.twig' %}

    <div style="background-color: rgba(175, 225, 119, 0.1);"><canvas id="scarf3"></canvas></div>

    {% include 'default/index/participate.html.twig' %}

    <div style="background-color: rgba(189, 202, 202, 0.1);"><canvas id="scarf4"></canvas></div>

    {% include 'default/index/contact.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/carousel.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <script src="{{ asset('js/scarf.js') }}"></script>
{% endblock %}