{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('style/css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <section>
        <p>
            Nous sommes heureux de vous accueillir sur le site web de Riv'sourires.
            Nous sommes là pour donner le sourire non seulement aux personnes à qui nous dédions nos travaux :
            malades Alzheimer, services des prématurés, ... mais aussi à tous les bénévoles qui nous rejoignent et qui partagent
            avec nous le plaisir de donner le sourire. Nous existons pour donner du lien social.
            Nous sommes une association basée à Rivedoux qui se réunit tous les lundis après-midi.
            Nous accueillons avec joie toutes les bonnes volontés de Rivedoux et de l'île de Ré. Venez nous rejoindre et partager des moments riches en émotions.
            Nous réalisons des travaux au tricot, au crochet, en couture... la couleur, la douceur sont nos alliées dans nos ateliers.
            Marie-Françoise et Chantal
        </p>
    </section>
{% endblock %}
