<span class="border-pink" style="margin-top: 50px;"></span>
<span class="border-green"></span>
<span class="border-yellow"></span>
<span class="border-red"></span>
<span class="border-grey"></span>
<span class="border-blue"></span>