<span class="border-pink"></span>
<span class="border-green"></span>
<span class="border-yellow"></span>
<span class="border-red"></span>
<span class="border-grey"></span>
<span class="border-blue"></span>
