<section id="location">
    <div>
        <div class="d-flex flex-column justify-content-between">
            <div class="d-flex align-items-center">
                <img class="img-fluid" src="{{ asset('img/button-4.png') }}" alt="boutton_vert">
                <h2>Coordonnées</h2>
            </div>
            <div  class="informations d-flex flex-column justify-content-between" style="width: 80%">
                <div class="d-flex align-items-center" style="margin-bottom: 10px;"><i class="fa fa-phone-square" aria-hidden="true"></i><p>06 13 45 81 37</p></div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px;"><i class="fa fa-home" aria-hidden="true"></i><p>104 Rue du Comté d'Hastrel, 17940 Rivedoux-Plage</p></div>
                <div class="d-flex align-items-center" style="margin-bottom: 10px;"><i class="fa fa-envelope" aria-hidden="true"></i><p>riv.sourires@gmail.com</p></div>
            </div>
        </div>

        <div id="map"></div>
        <script>
            function initMap() {
                var rivedoux = {lat: 46.159259, lng: -1.276619};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 10,
                    center: rivedoux,
                    mapTypeControl: true,
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                        position: google.maps.ControlPosition.TOP_CENTER
                    },
                    zoomControl: true,
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.RIGHT_CENTER
                    },
                    scaleControl: true,
                    streetViewControl: true,
                    streetViewControlOptions: {
                        position: google.maps.ControlPosition.LEFT_CENTER
                    },
                    fullscreenControl: true,
                    fullscreenControlOptions: {
                        position: google.maps.ControlPosition.LEFT_CENTER
                    }
                });
                var marker = new google.maps.Marker({
                    position: rivedoux,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwrYWO_v5FsaZI62lzbrUjClgjhfS3mBI&callback=initMap">
        </script>
    </div>
</section>
