<section>
    <div id="participate">
        <div class="d-flex align-items-center" style="padding-bottom: 20px;">
            <img class="img-fluid" src="{{ asset('img/button.png') }}" alt="boutton_bleu">
            <h2>Participer</h2>
        </div>
        <div>
            <div class="d-flex align-items-center" style="padding-bottom: 20px">
                <img class="img-fluid" src="{{ asset('img/scissors.png') }}" alt="ciseaux">
                <h5>Vous êtes un particulier</h5>
                <br>
            </div>
            <div class="d-flex flex-column justify-start flex-wrap">
                <p>Devenez Membre actif.ve  de Riv’Sourires en nous apportant votre aide pour la confection des manchons et autres créations.</p><br>
                <p>Soyez Membre bienfaiteur.rice par le biais de dons de matériaux, matériels ou en nous aidant financièrement.</p>
            </div><br>
            <div class="d-flex align-items-center" style="padding-bottom: 20px;">
                <img class="img-fluid" src="{{ asset('img/needles.png') }}" alt="aiguilles">
                <h5>Vous êtes une entreprise, une institution</h5>
                <br>
            </div>
            <div class="d-flex flex-column justify-start flex-wrap">
                <p>Vous pouvez devenir partenaire de l’association en nous apportant votre soutien financier.</p><br>
                <p>Vous pouvez aussi contribuer à nous aider par des dons de toutes sortes.</p>
            </div><br>
            <div style="width: 100%; text-align: center; padding-top: 50px; padding-bottom: 50px;">
                <img class="img-fluid" src="{{ asset('img/sourire.png') }}" alt="sourire" style="width: 50%">
            </div>
        </div>
    </div>
</section>