<section id="presentation">
    <p>
        <span style="color: #EA0296">Nous sommes heureux de vous accueillir sur le site web de Riv'sourires.</span>
            <span style="color: #619922">Nous sommes là pour donner le sourire non seulement aux personnes à qui nous dédions nos travaux :
            malades Alzheimer, services des prématurés, ...</span>
            <span style="color: #FFAA2A">mais aussi à tous les bénévoles qui nous rejoignent et qui partagent
            avec nous le plaisir de donner le sourire. Nous existons pour donner du lien social.</span>
            <span style="color: #ED3636">Nous sommes une association basée à Rivedoux qui se réunit tous les lundis après-midi.
            Nous accueillons avec joie toutes les bonnes volontés de Rivedoux et de l'île de Ré.</span>
            <span style="color: #4B5F5F">Venez nous rejoindre et partager des moments riches en émotions.
            Nous réalisons des travaux au tricot, au crochet, en couture... la couleur, la douceur sont nos alliées dans nos ateliers.</span>
        <span style="color: #34729E; padding-top: 10px;">Marie-Françoise et Chantal</span>
    </p>
</section>