header{
  display: none;
}

section.panel-body.text-center{
  display: flex;
  height: 100vh;
  background-color: #ff9999;

  div:first-child{
    display: flex;
    padding: 50px;
    margin: auto;
    background-color: #fff;
    border: 2px dashed #FF5556;
    border-radius: 50%;
    width: 50%;
  }

  p{
    margin: auto;
    font-family: "Montserrat", Arial, serif;
    font-size: 22px;
  }

  a {
    color: #FF5556;
    font-family: "Christmas Jumper", Arial, serif;
  }

  a:hover {
    color: #FF5556;
    text-decoration: none;
  }
}

/*---------------------------------- Responsive ----------------------------------*/

@media (min-width: 1920px) {
  section.panel-body.text-center {
    div:first-child {
      width: 20%;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  section.panel-body.text-center {
    div:first-child {
      width: 30%;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1680px) {
  section.panel-body.text-center {
    div:first-child {
      width: 40%;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 480px) and (max-width: 992px) {

  section.panel-body.text-center {
    div:first-child {
      width: 70%;
    }

    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {

  section.panel-body.text-center {

    height: 600px;

    div:first-child {
      width: 90%;
    }

    p {
      font-size: 13px;
    }
  }
}
