@import '_common.scss';

/*---------------------------------- General ----------------------------------*/

header{
  padding: 40px 0 50px 0;
  background-color: rgba(137, 183, 216, 0.1);
}

@mixin Pic{
  width: 40px;
  height: auto;
  margin-right: 10px;
}

h2{
  margin-bottom: 0 !important;
  font-size: 24px;
}

/*---------------------------------- Presentation ----------------------------------*/

#presentation{
  text-align: justify;
  padding: 40px;
  background-color: rgba(255, 212, 85, 0.1);
}

/*---------------------------------- Location ----------------------------------*/

#location{
  padding: 40px;
  background-color: rgba(255, 153, 204, 0.1);
}

#location p{
  margin: 0 0 0 5px;
}

#location img{
  @include Pic;
}

#location > div:first-child{
  display: flex;
  justify-content: space-between;
}

#map {
  width: 350px;
  height: 350px;
  border: 4px dashed #EA0296;
  border-radius: 50%;
  background-color: #FF99CC;
}

.fa{
  font-size: 24px;
}

.fa-phone-square{
  font-size: 18px;
  color: #FFAA2A;
}
.fa-home{
  font-size: 18px;
  color: #619922;
}

.fa-envelope {
  font-size: 18px;
  color: #EA0296;
}

/*---------------------------------- Participate ----------------------------------*/

#participate{
  padding: 40px;
  background-color: rgba(175, 225, 119, 0.1);
}

#participate img{
  @include Pic;
}

#participate > div:nth-child(2){
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 50px;
  padding-left: 20px
}

#participate > div:nth-child(2) img{
  width: 25px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}

/* width */
#participate ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
#participate ::-webkit-scrollbar-track {
  background: -webkit-linear-gradient(#CDCDCD 50%, #E6E6E6 50%);
  background: -moz-linear-gradient(#CDCDCD 50%, #E6E6E6 50%);
  background: -o-linear-gradient(#CDCDCD 50%, #E6E6E6 50%);
  background-size: 7%;

}

#participate p{
  padding-left: 60px;
}

/* Handle */
#participate ::-webkit-scrollbar-thumb:vertical
{
  background: transparent url(../../img/zipper-3.png) no-repeat;
  background-size:100%;
}

/*---------------------------------- Contact ----------------------------------*/

#contact{
  padding: 40px;
  background-color: rgba(189, 202, 202, 0.1);
}

#contact img{
  @include Pic;
}

#contact_message{
  border: 4px dashed #4B5F5F;
}

#contact ul {
  display: flex;
  justify-content: start;
}

/*---------------------------------- Responsive ----------------------------------*/

@media (max-width: 1024px) {
  #location > div:first-child{
    flex-direction: column;
  }

  .informations{
    margin: 30px auto 30px auto;
  }

  #map{
    margin: auto;
  }
}

@media (max-width: 530px) {
  #location > div:first-child{
    flex-direction: column;
  }

  .informations{
    margin: 30px auto 30px auto;
  }

  #map{
    width: 275px;
    margin: auto;
  }

  #participate > div:nth-child(2) .d-flex.align-items-center img{
    display: none;
  }

  #participate p{
    padding-left: 0px;
  }


  section, header{
    max-width: 100%;
  }
}