header img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

@mixin Section($max-width){
  margin: auto;
  padding-top: 50px;
  text-align: justify;
  font-size: large;
  max-width: $max-width;
}

@media (min-width: 1920px){
  section, header{
    @include Section(30%);
  }
}

@media (max-width: 1680px) {
  section, header{
    @include Section(35%);
  }
}

@media (max-width: 1440px) {
  section, header{
    @include Section(40%);
  }
}

@media (max-width: 1280px) {
  section, header{
    @include Section(45%);
  }
}

@media (max-width: 1024px) {
  section, header{
    @include Section(55%);
  }
}

@media (max-width: 480px) {
  section, header{
    @include Section(90%);
  }
}