body#page-top.modal-open{
    padding-right: 0 !important;
}

.modal-content{
    border-radius: 0;
}

.modal-dialog{
    margin-top: 79px !important;
}

#connexionModal{
padding-right: 0 !important;
}

#connexionModal form{
    margin: 25px auto 80px auto;
}

#connexionModal label{
    font-family: 'Montserrat', sans-serif;
    color : #444 !important;
    font-size: 13px !important;
    line-height: 1;
}

#connexionModal input {
    height: 35px !important;
    border-radius: 0;
    box-shadow: none;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    border: 2px dashed #4B5F5F;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#connexionModal .modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
}

#connexionModal p{
    font-size: 13px;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(255, 251, 238);
    background-clip: padding-box;
    border-radius: 0;
    outline: 0;
}

.modal-body{
    border: 2px dashed #FFD455;
}

img[alt="boutton_rouge"] {
    width: 25px;
    height: 25px;
    margin: 15px 15px 0 100px;
}

img[alt="patch_jaune"] {
    margin-top: 40px;
    max-width: 75px;
    height: auto;
}

img[alt="patch_bleu"] {
    margin-bottom: 40px;
    max-width: 75px;
}

.close {
    opacity: 1;
}

.alert-danger {
    border-color: #f5c6cb;
}

.alert {
    padding: 15px 15px;
    margin: 10px 0 10px 0;
    border: 2px dashed #f5c6cb;
    border-radius: 50%;
}

#connexionModal input{
    background-color: #fff !important;
}


@media (max-width: 530px){
    #connexionModal .modal-dialog{
        margin: 0;
    }

    img[alt="boutton_rouge"] {
        width: 25px;
        height: 25px;
        margin: 15px 15px 0 50px;
    }

    img[alt="patch_jaune"] {
        margin-top: 40px;
        max-width: 40px;
        height: auto;
    }

    img[alt="patch_bleu"] {
        margin-bottom: 40px;
        max-width: 40px;
    }
}
