<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for post in threeLastPosts  %}
                <div class="carousel-item">
                    <a href="{{ path('view-post', {'id' : post.id }) }}">
                        <img class="d-block" src="{{ asset(post.imagePath) }}" alt="test">
                    </a>
                    <div class="carousel-caption d-none d-md-block">
                        <p>{{ post.title|slice(0, 20)|raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="arrow">
            <a href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>