.border-pink {
  background: #EA0296;
  background: -webkit-linear-gradient(left, #FF99CC 50%, #EA0296 50%);
  background: -moz-linear-gradient(left, #FF99CC 50%, #EA0296 50%);
  background: -o-linear-gradient(left, #FF99CC 50%, #EA0296 50%);
  background: linear-gradient(left, white 50%, #EA0296 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.border-green {
  background: #AFE177;
  background: -webkit-linear-gradient(left, #619922 50%, #AFE177 50%);
  background: -moz-linear-gradient(left, #619922 50%, #AFE177 50%);
  background: -o-linear-gradient(left, #619922 50%, #AFE177 50%);
  background: linear-gradient(left, white 50%, #AFE177 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.border-yellow {
  background: #FFAA2A;
  background: -webkit-linear-gradient(left, #FFD455 50%, #FFAA2A 50%);
  background: -moz-linear-gradient(left, #FFD455 50%, #FFAA2A 50%);
  background: -o-linear-gradient(left, #FFD455 50%, #FFAA2A 50%);
  background: linear-gradient(left, white 50%, #FFAA2A 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.border-red {
  background: #FF5556;
  background: -webkit-linear-gradient(left, #ED3636 50%, #FF5556 50%);
  background: -moz-linear-gradient(left, #ED3636 50%, #FF5556 50%);
  background: -o-linear-gradient(left, #ED3636 50%, #FF5556 50%);
  background: linear-gradient(left, white 50%, #FF5556 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.border-grey {
  background: #4B5F5F;
  background: -webkit-linear-gradient(left, #BDCACA 50%, #4B5F5F 50%);
  background: -moz-linear-gradient(left, #BDCACA 50%, #4B5F5F 50%);
  background: -o-linear-gradient(left, #BDCACA 50%, #4B5F5F 50%);
  background: linear-gradient(left, white 50%, #4B5F5F 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.border-blue {
  background: #89B7D8;
  background: -webkit-linear-gradient(left, #34729E 50%, #89B7D8 50%);
  background: -moz-linear-gradient(left, #34729E 50%, #89B7D8 50%);
  background: -o-linear-gradient(left, #34729E 50%, #89B7D8 50%);
  background: linear-gradient(left, white 50%, #89B7D8 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block; }

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border: 2px dashed #ED3636 !important; }

.invalid-feedback {
  color: #ED3636 !important; }

span.initialism.form-error-icon.badge.badge-danger {
  display: none !important; }

p {
  margin-bottom: 0; }

.form-control {
  height: 50px;
  border-radius: 0;
  box-shadow: 1px 1px 20px #DCDCDC; }

#contact_message {
  height: 350px; }

.btn {
  background-color: #333;
  color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  word-spacing: 1.5px;
  z-index: 0;
  padding: 6px 12px;
  margin: 0 2px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 6px 8px 10px #DCDCDB !important; }

header img {
  width: 100%;
  height: 100%;
  margin: auto;
  border-bottom: #666666 solid 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden; }

.carousel-caption {
  font-size: small;
  right: 0;
  bottom: 6px;
  left: 0;
  padding-top: 5px;
  padding-bottom: 5px; }

.carousel-indicators {
  bottom: -50px; }

.carousel-indicators li:first-child {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-image: url(../../img/menu/pink.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent; }

.carousel-indicators li:nth-child(2) {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-image: url(../../img/menu/green.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent; }

.carousel-indicators li:last-child {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-image: url(../../img/menu/yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent; }

.carousel-indicators .active {
  width: 20px !important;
  height: 20px !important; }

.carousel-control-prev-icon {
  background-image: url(../../img/arrow-left.png);
  width: 40px;
  height: 40px;
  position: absolute;
  left: -25px; }

.carousel-control-next-icon {
  background-image: url(../../img/arrow-right.png);
  width: 40px;
  height: 40px;
  position: absolute;
  right: -25px; }

.arrow {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (min-width: 1920px) {
  section, header, form > span, body > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 50%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 50%; } }
@media (min-width: 1680px) and (max-width: 1920px) {
  section, header, form > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 50%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 50%; } }
@media (min-width: 1440px) and (max-width: 1680px) {
  section, header, form > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 50%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 70%; } }
@media (min-width: 1024px) and (max-width: 1440px) {
  section, header, form > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 55%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 70%; } }
@media (min-width: 750px) and (max-width: 1024px) {
  section, header, form > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 70%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 70%; } }
@media (min-width: 530px) and (max-width: 750px) {
  section, header, form > span, body > div, .border-pink, .border-yellow, .border-blue, .border-green {
    margin: auto;
    font-size: large;
    max-width: 100%; }

  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 70%; }

  header img {
    border-bottom: #666666 solid 20px; } }
@media (min-width: 480px) and (max-width: 530px) {
  section, header, #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 100%; }

  header img {
    border-bottom: #666666 solid 20px; } }
@media (max-width: 480px) {
  #carouselExampleIndicators {
    margin: auto;
    font-size: large;
    max-width: 90%; }

  section, header {
    margin: auto;
    font-size: large;
    max-width: 100%; }

  header img {
    border-bottom: #666666 solid 20px; }

  .carousel-control-prev-icon {
    width: 20px;
    height: 20px;
    left: -12px; }

  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    right: -12px; } }
#picture_choice h1 {
  color: #34729E; }

label {
  font-family: "Christmas Jumper", Arial, serif; }

/*---------------------------------- Picture_choice ----------------------------------*/
#picture_choice {
  text-align: justify;
  padding: 20px;
  background-color: #F3F8FB; }

input#add_post_picturePath {
  display: none; }

.photo {
  text-align: center; }

.photo .form-control-label {
  background-color: #fff;
  word-spacing: 1.5px;
  padding: 20px 20px;
  margin: 50px 0 50px 0;
  font-family: "Christmas Jumper", Arial, serif;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px dashed #4B5F5F;
  border-radius: 15px; }

/*---------------------------------- title ----------------------------------*/
#title {
  background-color: #FFFBEE;
  text-align: center; }
  #title label {
    color: #FFD455;
    margin: 20px 0 50px 0; }
  #title input {
    width: 80%;
    margin: 0 auto 50px auto;
    border: 2px dashed #FFD455;
    border-radius: 15px; }
  #title .form-control {
    box-shadow: 0 0 transparent; }
  #title .invalid-feedback {
    margin-top: 50px; }

/*---------------------------------- post_content ----------------------------------*/
.alert-success {
  border-color: #619922; }

.alert {
  padding: 15px 15px;
  margin: 10px 0 10px 0;
  border: 2px dashed #619922;
  border-radius: 10px; }

#post_content {
  background-color: #FFF5FA;
  text-align: center; }

#post_content label {
  color: #FF99CC;
  margin: 20px 0 20px 0; }

#mceu_16 {
  border: 2px dashed #4B5F5F !important;
  border-radius: 15px;
  width: 90% !important;
  margin: 25px auto; }

.mce-container {
  border-radius: 15px !important; }

/*---------------------------------- posts_List ----------------------------------*/
#posts_list {
  padding: 20px;
  background-color: #F7FCF1; }

th {
  font-family: "Christmas Jumper", Arial, serif;
  font-size: large;
  color: #AFE177; }

.close {
  opacity: 1; }

img[alt="boutton_supprim"] {
  width: 25px;
  height: 25px; }

img[alt="boutton_edit"] {
  width: 29px;
  height: 29px; }

.table td {
  text-align: center; }

.table thead th {
  text-align: center; }

#posts_list td > div p {
  font-size: 10px; }

a:hover {
  text-decoration: none; }

table tr:nth-child(odd) td:first-child a {
  color: #AFE177; }

table tr:nth-child(odd) td:first-child a:hover {
  color: #619922; }

table tr:nth-child(even) td:first-child a {
  color: #619922; }

table tr:nth-child(even) td:first-child a:hover {
  color: #AFE177; }

table tr:nth-child(odd) td:nth-child(2) p {
  color: #619922; }

table tr:nth-child(even) td:nth-child(2) p {
  color: #AFE177; }

table, thead, tr, th, td {
  border-top: 0 !important; }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px dashed #619922; }

.table-hover tbody tr:hover {
  background-color: transparent; }

/*---------------------------------- pagination ----------------------------------*/
ul.pagination {
  margin-bottom: 25px;
  margin-top: 15px; }

ul.pagination li:first-child {
  border-top: 2px dashed #AFE177;
  border-bottom: 2px dashed #AFE177;
  border-left: 2px dashed #AFE177;
  border-radius: 5px; }

.pagination .page-item {
  border-top: 2px dashed #AFE177;
  border-bottom: 2px dashed #AFE177;
  border-left: 0;
  border-right: 0; }

.pagination .page-link {
  border: 0; }

ul.pagination li:last-child {
  border-top: 2px dashed #AFE177;
  border-bottom: 2px dashed #AFE177;
  border-right: 2px dashed #AFE177;
  border-radius: 5px; }

.page-item.active .page-link {
  color: #AFE177;
  background-color: #fff;
  border-color: transparent; }

.page-item.disabled .page-link {
  color: #AFE177; }

.page-link {
  color: #619922; }

.page-link:focus, .page-link:hover {
  color: #AFE177;
  text-decoration: none;
  background-color: #fff;
  border-color: #ddd; }

/*---------------------------------- Modal ----------------------------------*/
.modal .modal-header {
  margin: 100px auto 0 auto; }
.modal .modal-header, .modal .modal-footer {
  border: 0; }
.modal .modal-content {
  width: 500px;
  height: 500px;
  background-color: #c5e9ff;
  border: 4px dashed #34729E;
  border-radius: 50%; }
.modal .modal-body {
  color: #fff;
  font-family: "Christmas Jumper", Arial, serif;
  font-size: 13px;
  margin-top: 40px; }
.modal .close {
  opacity: 1; }
.modal .modal-footer {
  margin: 0 auto 100px auto; }
.modal .btn {
  box-shadow: 6px 8px 10px #b4d6ff !important; }
.modal img[alt="boutton_rouge"] {
  width: 25px;
  height: 25px;
  margin: 15px 100px 0 15px; }

/*---------------------------------- responsive ----------------------------------*/
@media (max-width: 550px) {
  h1 {
    font-size: 30px; }

  .table-responsive {
    width: 100%; }

  img[alt="boutton_supprim"] {
    width: 20px;
    height: 20px; }

  img[alt="boutton_edit"] {
    width: 24px;
    height: 24px; }

  .modal .modal-header {
    margin: 25px auto 0 auto; }
  .modal .modal-dialog {
    margin: 0; }
  .modal .modal-header, .modal .modal-footer {
    border: 0; }
  .modal .modal-content {
    width: 100%;
    max-height: 300px;
    border: 2px dashed #34729E;
    border-radius: 0; }
  .modal .modal-body {
    color: #fff;
    font-family: "Christmas Jumper", Arial, serif;
    font-size: 13px;
    margin-top: 0; }
  .modal .modal-footer {
    margin: 0 auto 25px auto; }
  .modal img[alt="boutton_rouge"] {
    width: 20px;
    height: 20px;
    margin: 15px 15px 0 15px; } }

/*# sourceMappingURL=admin.css.map */
